<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Pathfinder</title>
    <th:block th:replace="~{fragments/head.html}"/>
</head>
<body>
<div class="wrapper">
    <th:block th:replace="~{fragments/header.html}"/>

    <section class="roadHeader">
        <h1>All Users In System!</h1>
    </section>

    <section id="allUsers">
        <th:block th:each="user : ${allUsers}">
            <div class="card userCard" style="width: 18rem;">
                <img class="card-img-top" src="/images/profile.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${user.getUsername()}">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
                <div class="card-body">
                    <a href="#"><button type="button" class="btn btn-info">More Info</button></a>
                    <a href="#"><button type="button" class="btn btn-danger">Delete</button></a>
                </div>
            </div>
        </th:block>
    </section>


<!--    <section class="road" th:each="user : ${allUsers}">-->
<!--        -->
<!--    </section>-->
</div>
</body>
<th:block th:replace="~{fragments/footer.html}"/>
</html>